
$clr1: #07132c; //new
$clr2: #0B1524; //new
$clr3: #63E1D9; //new

$gray1: #272727;
$gray2: #4b4b4b;
$gray3: #878787;
$gray4: #b1b0b096;
$gray5: #f0f0f096;
// LAYOUT BREAKPOINTS
$break-narrow: 500px;
$break-normal: 690px;
$break-wide: 980px;

//global sizes cmp 
$app-header-height: 200px