.hero {
    background-color: $clr1;
    .hero-img {
        width: 720px;
        margin-bottom: 42px;
    }

    .hero-title {
        width: 638px;
        text-align: center;
    }
    p {
        width: 554px;
        text-align: center;
        font-size: 20px;
    }
    .btn {
        width: 280px;
        height: 56px;
        border-radius: 30px;
        background-color: $clr3;
        font-family: 'Raleway-bold';
    }
}